# init.recovery.project.rc – Redmi 12 (fire)
# Platform-specific project init for recovery (MT6768)

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b
    symlink /dev/block/by-name/lk /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2
